body{
    margin: 0px;
    overflow: hidden;
	background: #000000;
}
#year{
    position: absolute;
    bottom: 50%; left: 10px;
    font-size: 70px;
}
#menu{
    position: absolute;
    bottom: 250px; left: 10px;
	color: #000000;
}
#slider{
    position: absolute;
    bottom: 0px; left: 0px;
}
#overlay{
    fill: white;
    opacity: .9;
}
#country{
    position: absolute;
    bottom: 40%; left: 10px;
    font-size: 50px;
}
rect{
    fill: lightblue;
}
g.parameter-value path:focus{
    outline: none;
}
h1{
    position: absolute;
    top: 0px; left: 40%;
    text-align: center;
    font-size: 40px;
    color: #DB202C;
}