body{
    display: flex;
	background: #FFFFFF;
    font-family: "Bebas Neue", Arial; 
}
h1{
    position: absolute;
    top: 0px; left: 40%;
    
    font-size: 40px;
    color: #DB202C;
}
.tooltip{
    position: absolute;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    display: none;
}
.donut-lable{
    font-size: 30px;
	/* color: #DB202C; */
	fill: #DB202C; 
}
.title{
    font-size: 20px;
    margin-bottom: 10px;
}
.year{
    color: rgb(193, 193, 194);
}
.text
{     color: #DB202C;
}